html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  display: grid;
  margin: 20px 20px;
}

p {
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
}

img {
  width: 200px;
}

.submitButton {
  background: none;
  border: 1px solid;
  padding: 20px;
  border-radius: 15px;
  margin: 10px 0;
  width: 100px;
}

.margin-vertical {
  margin: 15px 0;
}

.highlighted {
  background-color: blue;
  width: 200px;
}
